@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold/proximanova-bold.eot') format('eot'),
         url('../fonts/proximanova-bold/proximanova-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-extrabold';
    src: url('../fonts/proximanova-extrabold/proximanova-extrabold.woff') format('woff'),
         url('../fonts/proximanova-extrabold/proximanova-extrabold.eot') format('eot'),
         url('../fonts/proximanova-extrabold/proximanova-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proximanova-light/proximanova-light.woff') format('woff'),
         url('../fonts/proximanova-light/proximanova-light.eot') format('eot'),
         url('../fonts/proximanova-light/proximanova-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular/proximanova-regular.eot') format('eot'),
         url('../fonts/proximanova-regular/proximanova-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-regularitalic';
    src: url('../fonts/proximanova-regularitalic/proximanova-regularitalic.woff') format('woff'),
         url('../fonts/proximanova-regularitalic/proximanova-regularitalic.eot') format('eot'),
         url('../fonts/proximanova-regularitalic/proximanova-regularitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
