/* ======= mixins ========= */
/* ===== instruments ====== */
.cabinet-block__item-item:before, .responses-block__item:before {
  position: absolute;
  display: block;
  content: "";
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: table;
  line-height: normal;
  font-family: 'BlissPro-Regular';
}

.img-responsive {
  max-width: inherit;
}

.img-container {
  max-width: 100%;
}

.main {
  height: auto;
  overflow: hidden;
}

.footer {
  height: 1px;
  display: table-row;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

/* ======= sections ====== */
.doctor-block {
  padding-top: 20px;
  padding-bottom: 60px;
}

.doctor-block__title {
  font-size: 40px;
  font-family: 'BlissPro-Bold';
  color: black;
  line-height: normal;
  margin-bottom: 15px;
}

.doctor-block__prof {
  font-size: 26px;
  line-height: 0.73;
  color: #9b9b9b;
  margin-bottom: 40px;
}

.doctor-block__ability-list {
  margin-bottom: 50px;
}

.doctor-block__ability-item {
  margin-bottom: 20px;
}
.doctor-block__ability-item:last-child {
  margin-bottom: 0;
}

.doctor-ability-item__title {
  font-size: 16px;
  font-family: 'BlissPro-Bold';
  color: #9b9b9b;
  margin-bottom: 7px;
}

.doctor-ability-item__description {
  line-height: 1.44;
  color: #131313;
  font-size: 18px;
}

.doctor-ability-item__link,
.doctor-ability-item__link:hover,
.doctor-ability-item__link:focus {
  margin-top: 20px;
  font-size: 16px;
  color: #33b4b0;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.doctor-ability-item__link:hover,
.doctor-ability-item__link:hover:hover,
.doctor-ability-item__link:focus:hover {
  opacity: 0.6;
}

.doctor-ability-item__item {
  margin-bottom: 0px;
}

.doctor-ability-item__list {
  font-size: 0;
}

.doctor-ability-item__left-time {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 26px;
  color: black;
}

.doctor-ability-item__right-time {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-family: 'BlissPro-Bold';
}

.doctor-block__link,
.doctor-block__link:hover,
.doctor-block__link:focus {
  width: 100%;
  margin-bottom: 10px;
}

.doctor-block__img-container {
  width: 75%;
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 40px;
}

.doctor-block__img {
  width: 100%;
}

.header {
  padding-top: 30px;
}
.header .header-top__info-tel,
.header .header-top__info-tel:hover,
.header .header-top__info-tel:focus {
  color: black;
}
.header .header-bottom {
  padding: 25px 0;
  background: #33b4b0;
}
.header .header-top {
  margin-bottom: 20px;
}

/*********************
** breadcrumbs-block *
*********************/
.breadcrumbs-block {
  padding-top: 70px;
  margin-bottom: 30px;
}

.breadcrumbs-list {
  font-size: 0;
}

.breadcrumbs-item {
  display: inline-block;
  font-size: 16px;
  color: #2da7a0;
  line-height: normal;
  margin-right: 45px;
  position: relative;
}
.breadcrumbs-item:before {
  display: block;
  position: absolute;
  content: "/";
  right: -25px;
  color: #9b9b9b;
}
.breadcrumbs-item:last-child {
  color: #9b9b9b;
  margin-right: 0;
}
.breadcrumbs-item:last-child:before {
  display: none;
}

.breadcrumbs-link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}

/***********************
** all-doctors-block ***
**********************/
.all-doctors-block {
  padding-bottom: 70px;
}

.all-doctors-block__title {
  font-family: 'BlissPro-ExtraBold';
  font-size: 48px;
  color: #131313;
  line-height: 1.21;
  margin-bottom: 75px;
}

.all-doctors-block__img {
  margin: 0 auto;
}

.all-doctors-block_right {
  padding-left: 40px;
}

.all-doctors-block__name {
  color: #33b4b0;
  font-size: 34px;
  line-height: normal;
  margin-bottom: 5px;
}

.all-doctors-block__prof {
  font-size: 16px;
  color: #333333;
  line-height: 1.25;
  margin-bottom: 20px;
}

.all-doctors-block__ability-list {
  height: 150px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.all-doctors-block__ability-list:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -90px 130px -50px #fff;
}

.all-doctors-block__ability-item {
  margin-bottom: 20px;
}
.all-doctors-block__ability-item:last-child {
  margin-bottom: 0;
}

.ability-item__title {
  color: #9b9b9b;
  line-height: normal;
  font-size: 16px;
  font-family: 'BlissPro-Medium';
  margin-bottom: 7px;
}

.ability-item__description {
  color: #131313;
  line-height: 1.44;
  font-size: 18px;
}

.all-doctors-block__about-btn,
.all-doctors-block__about-btn:hover,
.all-doctors-block__about-btn:focus {
  line-height: 1.44;
  letter-spacing: normal;
  color: #33b4b0;
  font-size: 18px;
  text-decoration: underline;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.all-doctors-block__about-btn:hover,
.all-doctors-block__about-btn:hover:hover,
.all-doctors-block__about-btn:focus:hover {
  opacity: 0.6;
}

.all-doctors-block__item {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 105px;
}
.all-doctors-block__item:last-child {
  margin-bottom: 0;
}

/********************
**** enroll-block ***
********************/
.enroll-block {
  padding: 70px 0;
  background: url('../images/bg-general.png?1486105086') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.enroll-block:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.25;
  background-image: linear-gradient(92deg, #2f739e, #45ddcf);
  content: "";
}

.enroll-block__title {
  font-family: 'BlissPro-Bold';
  font-size: 22px;
  color: #ffffff;
  line-height: 1.41;
}
.enroll-block__title p {
  margin-bottom: 0;
}

.enroll-block__btn-container {
  padding: 5px 0;
}

/******************
** history ********
******************/
.history-block__title {
  margin-bottom: 50px;
}

.history-block__categories-list {
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -40px;
  overflow: hidden;
  margin-bottom: 25px;
}

.history-block__categories-item {
  display: inline-block;
  height: 50px;
  background: white;
  border: 1px solid #e7e7e7;
  border-radius: 100px;
  color: #333333;
  text-align: center;
  font-family: 'BlissPro-Bold';
  font-size: 16px;
  margin-right: 40px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
}
.history-block__categories-item.active, .history-block__categories-item:hover {
  background: #33b4b0;
  color: #fff;
}
.history-block__categories-item:active {
  background: #1f9d99;
}

.history-block__categories-link {
  padding: 15px 30px;
}

/***********
** article *
***********/
.history-block__article h2,
.history-block__article-title {
  font-family: 'BlissPro-Bold';
  font-size: 24px;
  color: #131313;
  line-height: normal;
  margin-bottom: 15px;
}

.history-block__article-description {
  font-size: 18px;
  line-height: 28px;
  color: black;
  margin-bottom: 25px;
}

.history-block__article-about {
  font-size: 18px;
  line-height: 28px;
  color: #898989;
  font-family: 'BlissPro-Italic';
}

.history-block__article-link,
.history-block__article-link:hover,
.history-block__article-link:focus {
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  color: #2da7a0;
  transition: all .3s ease-in-out;
  opacity: 1;
  margin-bottom: 30px;
}
.history-block__article-link:hover,
.history-block__article-link:hover:hover,
.history-block__article-link:focus:hover {
  opacity: 0.6;
}

.owl-article-slider_wrapper {
  margin: 0 -500px;
}
.owl-article-slider_wrapper .owl-stage-outer:before {
  position: absolute;
  display: block;
  content: "";
  width: 363px;
  height: 100%;
  left: 118px;
  top: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
  z-index: 1;
}
.owl-article-slider_wrapper .owl-stage-outer:after {
  position: absolute;
  display: block;
  content: "";
  width: 363px;
  height: 100%;
  right: 118px;
  top: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  z-index: 1;
}

.owl-article-slider .owl-prev {
  transform: translateY(-50%) rotate(45deg);
  left: 380px;
  transition: all .3s ease-in-out;
  opacity: 1;
}

.owl-article-slider .owl-prev,
.owl-article-slider .owl-next {
  position: absolute;
  font-size: 0;
  color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  top: 50%;
  border-top: none;
  border-right: none;
}

.owl-article-slider .owl-next {
  transform: translateY(-50%) rotate(-135deg);
  right: 380px;
  transition: all .3s ease-in-out;
  opacity: 1;
}

.owl-article-slider {
  margin-bottom: 60px;
}

.history-block__article-img {
  width: 100%;
}

.history-block__article-img-container {
  margin-bottom: 60px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: black;
  display: block;
  font-size: 16px;
  padding: 0 7px;
  margin: 0;
  height: 48px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  outline: none;
}

input.material-field, textarea.material-field {
  border-width: 0;
  box-shadow: none;
  background: transparent;
}

textarea.material-field {
  resize: none;
  overflow: hidden;
  height: auto;
  padding-top: 15px;
  line-height: normal;
}

.form-group-material {
  position: relative;
  margin-top: 16px;
  margin-bottom: 21px;
}

.form-group-material:after {
  height: 1px;
  background: #9b9b9b;
  width: 100%;
}

.form-group-material:before {
  height: 2px;
  background: #33b4b0;
  z-index: 1;
  width: 0;
  transition: width .3s;
}

.form-group-material:after, .form-group-material:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
}

.form-group-material.error {
  margin-bottom: 36px;
}

.form-group-material.error:before {
  background-color: #F44336;
}

.form-group-material.focused:before {
  width: 100%;
}

small.error {
  display: none;
}

.error small.error {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  background: transparent;
  color: #F44336;
  font-style: normal;
  padding: 0 7px;
  font-family: 'BlissPro-Medium';
}

.material-label {
  margin-bottom: 0;
  font-weight: normal;
  font-family: 'BlissPro-Medium';
  font-size: 16px;
  padding: 0 7px;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  cursor: text;
  color: #9b9b9b;
  transition: transform ease .3s, color ease .3s;
  transform-origin: 0 0;
}

.error .material-label {
  color: #F44336;
}

.focused .material-label {
  transform: translateY(-220%) scale(0.82);
  color: #33b4b0;
}

.error.focused .material-label {
  color: #F44336;
}

.has-value .material-label {
  transform: translateY(-220%) scale(0.82);
  top: 30px;
}

input.material-field, textarea.material-field {
  border-width: 0;
  box-shadow: none;
  margin: 0;
  background: transparent;
}

input.material-field:focus, textarea.material-field:focus {
  box-shadow: none;
  background: none;
}

/********************
** general-block **
********************/
.btn_default,
.btn_default:hover,
.btn_default:focus {
  outline: none;
  font-size: 14px;
  width: 280px;
  height: 50px;
  border-radius: 100px;
  background-color: #33b4b0;
  padding: 17px 10px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: 'BlissPro-ExtraBold';
  transition: all 0.3s ease-in-out;
}
.btn_default:hover,
.btn_default:hover:hover,
.btn_default:focus:hover {
  background-color: #47cdc9;
}
.btn_default:active,
.btn_default:hover:active,
.btn_default:focus:active {
  background-color: #1f9d99;
}

.btn_default_trans,
.btn_default_trans:hover,
.btn_default_trans:focus {
  outline: none;
  font-size: 14px;
  width: 280px;
  height: 50px;
  border-radius: 100px;
  background-color: transparent;
  padding: 14px 10px;
  border: solid 2px #32b0ad;
  text-transform: uppercase;
  color: #32b0ad;
  text-align: center;
  font-family: 'BlissPro-ExtraBold';
  transition: all 0.3s ease-in-out;
}
.btn_default_trans:hover,
.btn_default_trans:hover:hover,
.btn_default_trans:focus:hover {
  background-color: #33b4b0;
  color: #ffffff;
}
.btn_default_trans:active,
.btn_default_trans:hover:active,
.btn_default_trans:focus:active {
  background-color: #1e9d99;
  color: #ffffff;
}

.btn_default_white,
.btn_default_white:hover,
.btn_default_white:focus {
  outline: none;
  font-size: 14px;
  width: 280px;
  height: 50px;
  border-radius: 100px;
  background-color: transparent;
  padding: 14px 10px;
  border: solid 2px #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-family: 'BlissPro-ExtraBold';
  transition: all 0.3s ease-in-out;
}
.btn_default_white:hover,
.btn_default_white:hover:hover,
.btn_default_white:focus:hover {
  background-color: #ffffff;
  color: #33b4b0;
}
.btn_default_white:active,
.btn_default_white:hover:active,
.btn_default_white:focus:active {
  border: solid 2px #fdfdfd;
  background-color: #fdfdfd;
  color: #1e9d99;
}

.general-block {
  background: url('../images/bg-general.png?1486105086') no-repeat;
  background-size: cover;
  padding-top: 30px;
  position: relative;
}

.header-top {
  margin-bottom: 35px;
}

.logo-text {
  font-size: 0;
  color: transparent;
}

.header-top__info {
  padding: 15px 0;
}

.header-top__info-link,
.header-top__info-link:hover,
.header-top__info-link:focus {
  font-size: 13px;
  color: #33b4b0;
  text-align: right;
  margin-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 0.1px dashed #33b4b0;
  display: inline-block;
  font-family: 'BlissPro-Bold';
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-top__info-link:hover,
.header-top__info-link:hover:hover,
.header-top__info-link:focus:hover {
  opacity: 0.6;
}

.header-top__info-tel,
.header-top__info-tel:hover,
.header-top__info-tel:focus {
  text-align: right;
  color: #ffffff;
  font-size: 24px;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-family: 'BlissPro-ExtraBold';
}
.header-top__info-tel:hover,
.header-top__info-tel:hover:hover,
.header-top__info-tel:focus:hover {
  opacity: 0.6;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  font-size: 13px;
  font-family: 'BlissPro-ExtraBold';
  color: #fff;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  opacity: 1;
  border-bottom: 2px solid transparent;
}
.nav-item:hover {
  opacity: 0.6;
}
.nav-item:hover, .nav-item.active {
  border-bottom: 2px solid #fff;
}

.general-block .header-in {
  margin-bottom: 135px;
}

.general-block__center {
  margin-bottom: 245px;
}

.general-block__title {
  font-family: 'BlissPro-ExtraBold';
  color: #ffffff;
  font-size: 48px;
  line-height: 1.21;
  margin-bottom: 40px;
}

.general-block__bottom-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url('../images/scroll-btn.svg?1486126762');
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s ease-in-out;
  opacity: 1;
}
.general-block__bottom-arrow:hover {
  opacity: 0.6;
}

/********************
** cabinets-block ***
********************/
.cabinets-block {
  padding: 80px 0;
  background-image: linear-gradient(127deg, #2f739e, #45ddcf);
}

.cabinets-block__title {
  font-family: 'BlissPro-ExtraBold';
  font-size: 48px;
  line-height: 1.21;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
}

.cabinets-block__description {
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
  margin-bottom: 50px;
  font-family: 'BlissPro-Medium';
}

.cabinet-block__list {
  padding: 0 15px;
}

.cabinet-block__item {
  height: 425px;
}

.cabinet-block__link {
  position: relative;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
}
.cabinet-block__link:before {
  display: block;
  width: 60px;
  height: 60px;
  background: url('../images/zoom.svg?1486128561') no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.cabinet-block__link:hover:before {
  opacity: 1;
}

.cabinet-block__img-container {
  height: 100%;
}

.cabinet-block__img {
  height: 100%;
  width: 100%;
}

.cabinet-block__item_last-block {
  padding: 80px;
  background: #fff;
}

.cabinet-block__item-title {
  text-align: left;
  color: #33b4b0;
  font-size: 20px;
  font-family: 'BlissPro-Bold';
  padding-right: 45px;
  margin-bottom: 20px;
  line-height: normal;
}

.cabinet-block__item-item {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  color: #131313;
  margin-bottom: 10px;
  font-family: 'BlissPro-Medium';
}
.cabinet-block__item-item:last-child {
  margin-bottom: 0;
}
.cabinet-block__item-item:before {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #131313;
}

/******************
** doctors-block **
******************/
.doctors-block {
  background: #fff;
  padding: 80px 0;
}

.doctors-block__title {
  font-family: 'BlissPro-ExtraBold';
  font-size: 48px;
  color: #131313;
  margin-bottom: 30px;
}

.doctors-block__description {
  font-family: 'BlissPro-Regular';
  font-size: 14px;
  line-height: 1.43;
  color: #9b9b9b;
  margin-bottom: 40px;
}

.doctors-block__list {
  margin-bottom: 50px;
}

.doctors-block__img-container {
  margin-bottom: 30px;
}

.doctors-block__img {
  margin: 0 auto;
}

.doctors-block__doctor-name {
  font-size: 34px;
  color: #131313;
  text-align: center;
  margin-bottom: 10px;
}

.doctors-block__doctor-abil {
  font-size: 16px;
  color: #33b4b0;
  text-align: center;
}

.doctors-block__btn,
.doctors-block__btn:hover,
.doctors-block__btn:focus {
  margin: 0 auto;
  width: 214px;
}

/********************
*** responses-block *
********************/
.responses-block {
  padding: 80px 0;
  background-image: linear-gradient(127deg, #2f739e, #45ddcf);
}

.responses-block__title {
  font-family: 'BlissPro-ExtraBold';
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 40px;
}

.responses-block__item {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 50px;
  margin-bottom: 50px;
  padding-left: 110px;
}
.responses-block__item:last-child {
  margin-bottom: 0;
}
.responses-block__item:before {
  font-size: 30px;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  content: "C";
  text-align: center;
}

.responses-block__item-name {
  font-size: 24px;
  color: #ffffff;
  font-family: 'BlissPro-Bold';
  margin-bottom: 15px;
}

.responses-block__item-description {
  color: #ffffff;
  line-height: 1.5;
  font-size: 18px;
}

/********************
** prices-block *****
********************/
.prices-block {
  padding: 80px 0 50px 0;
  background-color: #fafafa;
}

.prices-block__title {
  font-size: 48px;
  line-height: 1.21;
  color: #33b4b0;
  margin-bottom: 35px;
  font-family: 'BlissPro-ExtraBold';
}

.prices-block__description {
  color: #9b9b9b;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 40px;
}

.prices-block__item {
  margin-bottom: 30px;
}

.prices-block__link {
  padding: 40px 30px 30px 50px;
  height: 140px;
  background: #fff;
  border: solid 1px #ebebeb;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.prices-block__link:hover {
  border: solid 1px #33B4B0;
}

.prices-block__item-title {
  font-size: 20px;
  color: #33b4b0;
  font-family: 'BlissPro-Bold';
  margin-bottom: 20px;
}

.prices-block__item-price {
  font-family: 'BlissPro-Heavy';
  font-size: 14px;
  color: #131313;
}

/*************************
****** main-slider-block *
*************************/
.main-slider-block {
  background-image: linear-gradient(104deg, #2f739e, #45ddcf);
  padding: 80px 0;
}

.owl-main-slider__title {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'BlissPro-Heavy';
}

.owl-main-slider__description {
  line-height: normal;
  font-size: 32px;
  color: #ffffff;
  font-family: 'BlissPro-Heavy';
}

.owl-main-slider__img-container {
  text-align: right;
}

.owl-main-slider__img {
  display: inline-block;
  width: 177px;
  height: 94px;
}

.owl-main-slider .owl-prev,
.owl-main-slider .owl-next {
  position: absolute;
  font-size: 0;
  color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  top: 50%;
  border-top: none;
  border-right: none;
}

.owl-main-slider .owl-prev {
  transform: translateY(-50%) rotate(45deg);
  left: -130px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-main-slider .owl-prev:hover {
  opacity: 0.6;
}

.owl-main-slider .owl-next {
  transform: translateY(-50%) rotate(-135deg);
  right: -130px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-main-slider .owl-next:hover {
  opacity: 0.6;
}

.owl-main-slider .owl-dots {
  position: absolute;
  bottom: -40px;
  text-align: center;
  left: 0;
  right: 0;
}

.owl-main-slider .owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-block;
  margin: 0 5px;
}
.owl-main-slider .owl-dot.active {
  background-color: #fff;
}

/*********************
*** map-block *****
*******************/
.map-block {
  padding: 80px 0 240px 0;
  background: url('../images/map.png?1486105086') no-repeat;
  background-size: cover;
}

.map-block-container {
  background: #fff;
  padding: 40px 40px 65px 50px;
}

.map-block__title {
  font-size: 48px;
  line-height: 1.21;
  color: #131313;
  font-family: 'BlissPro-ExtraBold';
  margin-bottom: 20px;
}

.map-block__adress {
  line-height: 1.25;
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
  opacity: 0.5;
  font-family: 'BlissPro-Medium';
}
.map-block__adress p {
  margin-bottom: 0px;
}
.map-block__adress p:last-child {
  margin-bottom: 0;
}

.map-block__tel {
  font-family: 'BlissPro-Bold';
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.map-block__email,
.map-block__email:hover,
.map-block__email:focus {
  font-size: 20px;
  color: #33b4b0;
  text-decoration: underline;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-family: 'BlissPro-Bold';
}
.map-block__email:hover,
.map-block__email:hover:hover,
.map-block__email:focus:hover {
  opacity: 0.6;
}

/******************
** feedback-block *
******************/
.feedback-block {
  padding: 80px 0;
  background: #fff;
}
.feedback-block .container {
  position: relative;
}

.feedback-block__title {
  color: #000000;
  font-size: 32px;
  font-family: 'BlissPro-Heavy';
  margin-bottom: 30px;
}

.feedback-block__btn-submit,
.feedback-block__btn-submit:hover,
.feedback-block__btn-submit:focus {
  margin-top: 20px;
  width: 220px;
}

.feedback-block__img-container {
  position: absolute;
  bottom: -80px;
  right: 85px;
}

/********************
*** footer *******
**************/
.footer-top {
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.footer__socials-list {
  padding: 15px 0;
  font-size: 0;
}

.footer__socials-item {
  display: inline-block;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #CCCCCC;
}
.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__socials-link {
  height: 100%;
  width: 100%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer__socials-link:hover {
  opacity: 0.6;
}
.footer__socials-link.fb {
  background: url('../images/foot-facebook.svg?1486630787') no-repeat 50% 50%;
  background-size: 20px;
}
.footer__socials-link.vk {
  background: url('../images/foot-vk.svg?1486630806') no-repeat 50% 50%;
  background-size: 20px;
}
.footer__socials-link.ok {
  background: url('../images/foot-odnoklassniki.svg?1486630798') no-repeat 50% 50%;
  background-size: 20px;
}
.footer__socials-link.inst {
  background: url('../images/foot-instagram.svg?1486630794') no-repeat 50% 50%;
  background-size: 20px;
}
.footer__socials-link.google {
  background: url('../images/foot-google-plus.svg?1486630790') no-repeat 50% 50%;
  background-size: 20px;
}
.footer__socials-link.tw {
  background: url('../images/foot-twitter.svg?1486630802') no-repeat 50% 50%;
  background-size: 20px;
}

.footer-top__adress {
  padding: 15px 0;
  margin-right: 45px;
  line-height: normal;
}
.footer-top__adress p {
  margin-bottom: 0;
  font-size: 14px;
  color: #000000;
  opacity: 0.3;
  font-family: 'BlissPro-Medium';
}

.footer-top__info-link,
.footer-top__info-link:hover,
.footer-top__info-link:focus {
  font-size: 13px;
  color: #33b4b0;
  text-align: right;
  margin-bottom: 3px;
  text-transform: uppercase;
  border-bottom: 0.1px dashed #33b4b0;
  display: inline-block;
  font-family: 'BlissPro-Bold';
  transition: all .3s ease-in-out;
  opacity: 1;
  line-height: normal;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer-top__info-link:hover,
.footer-top__info-link:hover:hover,
.footer-top__info-link:focus:hover {
  opacity: 0.6;
}

.footer-top__info-tel,
.footer-top__info-tel:hover,
.footer-top__info-tel:focus {
  line-height: normal;
  text-align: right;
  color: black;
  font-size: 24px;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-family: 'BlissPro-ExtraBold';
}

.footer-center {
  padding-top: 40px;
}

.footer__nav-list {
  margin-bottom: -20px;
  font-size: 0;
}

.footer__nav-item {
  font-family: 'BlissPro-Medium';
  font-size: 14px;
  color: #CCCCCC;
  display: inline-block;
  margin-right: 30px;
  text-decoration: underline;
  line-height: normal;
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer__nav-item:hover {
  opacity: 0.6;
}

.footer-bottom {
  padding: 40px 0;
}

.footer-bottom__copy {
  font-family: 'BlissPro-Medium';
  font-size: 14px;
  line-height: normal;
  color: black;
}

.footer-bottom__made-by {
  text-align: right;
}

.footer-bottom__made-by-text {
  font-family: 'BlissPro-Medium';
  font-size: 14px;
  line-height: normal;
  color: black;
}

.footer-bottom__made-by-link,
.footer-bottom__made-by-link:hover,
.footer-bottom__made-by-link:focus {
  display: inline-block;
  text-decoration: underline;
  color: #33b4b0;
  font-family: 'BlissPro-Medium';
  font-size: 14px;
  line-height: normal;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer-bottom__made-by-link:hover,
.footer-bottom__made-by-link:hover:hover,
.footer-bottom__made-by-link:focus:hover {
  opacity: 0.6;
}

/******************
** feedback modal *
******************/
.feedback-pop-up__dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 467px;
  max-width: 90%;
}

.feedback-pop__container {
  background-color: #fafafa;
  padding: 90px 90px 50px 90px;
}

.feedback-pop__title {
  font-family: 'BlissPro-ExtraBold';
  font-size: 24px;
  text-align: center;
  line-height: normal;
  margin-bottom: 20px;
}

.feedback-pop__btn-submit,
.feedback-pop__btn-submit:hover,
.feedback-pop__btn-submit:focus {
  margin: 0 auto;
  width: 175px;
  display: block;
  margin-top: 40px;
}

.feedback-pop__close-button {
  position: absolute;
  top: 25px;
  right: 30px;
}
.feedback-pop__close-button:after, .feedback-pop__close-button:before {
  content: "";
  height: 20px;
  width: 20px;
  border-top: 1px solid #9b9b9b;
  position: absolute;
  top: 7px;
  right: -8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.feedback-pop__close-button:before {
  right: 6px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/******************
** gallery modal *
******************/
.gallery-pop-up__dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

.gallery-pop__container {
  max-width: 80%;
  margin: 0 auto;
}

.owl-gallery-slider .owl-prev, .owl-gallery-slider .owl-next {
  position: absolute;
  font-size: 0;
  color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  top: 50%;
  border-top: none;
  border-right: none;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-gallery-slider .owl-prev:hover, .owl-gallery-slider .owl-next:hover {
  opacity: 0.6;
}

.owl-gallery-slider .owl-prev {
  transform: translateY(-50%) rotate(45deg);
  left: -75px;
}

.owl-gallery-slider .owl-next {
  transform: translateY(-50%) rotate(-135deg);
  right: -75px;
}

.gallery-pop-up__close-button {
  position: absolute;
  top: -65px;
  right: 45px;
  background: url('../images/gallery-close.svg?1486624426') no-repeat;
  width: 40px;
  background-size: cover;
  height: 40px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.gallery-pop-up__close-button:hover {
  opacity: 0.6;
}

.owl-gallery-sliders-count {
  color: #fff;
  text-align: center;
  padding-top: 50px;
  font-size: 23px;
}

/****************************/
/* xs+sm+md */
@media screen and (max-width: 1199px) {
  .gallery-pop-up__close-button {
    right: 25px;
  }

  .cabinet-block__item {
    height: 350px;
  }

  .cabinet-block__item_last-block {
    padding: 60px;
  }

  .cabinet-block__item-item {
    line-height: normal;
  }

  .feedback-block__title {
    padding-right: 30px;
  }
}
/* xs+sm */
@media screen and (max-width: 991px) {
  .gallery-pop-up__close-button {
    right: 0;
  }

  .general-block {
    padding-top: 45px;
  }

  .header-top__mobile-nav {
    padding: 25px 0;
    margin-left: 57px;
  }

  .header-top__nav-button {
    display: inline-block;
    transition: all .3s ease-in-out;
    opacity: 1;
  }
  .header-top__nav-button:hover {
    opacity: 0.6;
  }
  .header-top__nav-button .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
    background-color: #fff;
    display: block;
    width: 47px;
    height: 5px;
    margin-bottom: 8px;
    border-radius: 1px;
  }
  .header-top__nav-button .icon-bar:last-child {
    margin-bottom: 0;
  }
  .header-top__nav-button:hover, .header-top__nav-button:focus {
    display: inline-block;
  }
  .header-top__nav-button.inner_button {
    position: absolute;
    top: 22px;
    right: 19px;
  }

  .header-top__mobile-nav > .mobile-nav__dropdown {
    right: -15px;
  }

  .mobile-nav__dropdown {
    width: 265px;
    background: white;
    padding: 50px 20px 25px 20px;
    top: 0;
    border-radius: 0;
  }

  .mobile-nav-list {
    margin-bottom: 15px;
  }

  .mobile-nav-item {
    margin-bottom: 5px;
  }
  .mobile-nav-item:last-child {
    margin-bottom: 0;
  }

  .mobile-nav-link {
    padding: 15px 20px;
    color: #33b4b0;
    font-family: 'BlissPro-ExtraBold';
    font-size: 14px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
  }
  .mobile-nav-link.active, .mobile-nav-link:hover {
    background: #EAF7F7;
    color: black;
  }

  .mobile-nav-socials-list {
    font-size: 0;
    padding-left: 20px;
  }

  .mobile-nav-socials-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  .mobile-nav-socials-item:last-child {
    margin-right: 20px;
  }

  .mobile-nav-socials-link {
    height: 100%;
    transition: all .3s ease-in-out;
    opacity: 1;
  }
  .mobile-nav-socials-link.vk {
    background: url('../images/vk-mobile.svg?1486554169') no-repeat center center;
  }
  .mobile-nav-socials-link.fb {
    background: url('../images/facebook-mobile.svg?1486554175') no-repeat center center;
  }
  .mobile-nav-socials-link.inst {
    background: url('../images/instagram-mobile.svg?1486554172') no-repeat center center;
  }
  .mobile-nav-socials-link:hover {
    opacity: 0.6;
  }

  .header-top__nav-button.inner_button .icon-bar:nth-of-type(1) {
    top: 12px;
    width: 20px;
    height: 3px;
    transform: rotate(45deg);
    background: #33b4b0;
  }
  .header-top__nav-button.inner_button .icon-bar:nth-of-type(2) {
    width: 20px;
    background: transparent;
  }
  .header-top__nav-button.inner_button .icon-bar:nth-of-type(3) {
    width: 20px;
    height: 3px;
    top: -12px;
    transform: rotate(-45deg);
    background: #33b4b0;
  }

  .general-block .header-in {
    margin-bottom: 190px;
  }

  .general-block {
    background-position: center center;
  }

  .cabinet-block__item {
    height: 267px;
  }

  .cabinet-block__item_last-block {
    padding: 20px 40px 20px 45px;
  }

  .cabinet-block__item-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .cabinet-block__item-item:before {
    top: 7px;
    transform: none;
  }

  .cabinet-block__item-item {
    padding-left: 15px;
  }

  .doctors-block__doctor-name {
    font-size: 28px;
  }

  .doctors-block__doctor-abil {
    font-size: 14px;
  }

  .prices-block__link {
    padding: 23px 20px 23px 20px;
    height: 107px;
  }

  .map-block-container {
    width: 350px;
    padding: 40px 40px 65px 50px;
  }

  .map-block {
    padding-bottom: 80px;
  }

  .feedback-block__img-container {
    width: 28.5%;
    right: 65px;
  }

  .footer-top {
    padding-top: 40px;
  }

  .footer__nav-item {
    margin-right: 15px;
  }
}
/* sm */
@media screen and (max-width: 767px) {
  .gallery-pop-up__dialog {
    width: 100%;
  }

  .gallery-pop__container {
    max-width: 100%;
  }

  .owl-gallery-slider .owl-prev, .owl-gallery-slider .owl-next {
    width: 20px;
    height: 20px;
  }

  .owl-gallery-slider .owl-prev {
    left: 0;
  }

  .owl-gallery-slider .owl-next {
    right: 0;
  }

  body {
    table-layout: fixed;
  }

  .general-block {
    padding-top: 25px;
  }

  .logo-img-container {
    max-width: 90px;
  }

  .header-top__nav-button .icon-bar {
    width: 30px;
    height: 2px;
  }

  .header-top__mobile-nav {
    padding: 8px 0 0 0;
    margin-left: 23px;
  }

  .mobile-phone {
    width: 40px;
    height: 40px;
    background: url('../images/phone.png?1486550708') no-repeat;
    background-size: cover;
  }
  .mobile-phone[aria-expanded=true] {
    border: 1px solid #D5D5D5;
    border-radius: 50%;
    background: url('../images/close.svg?1486562928') no-repeat center center;
  }

  .mobile-nav__dropdown {
    top: -28px;
  }

  .header-top__nav-button.inner_button .icon-bar:nth-of-type(1) {
    top: 10px;
  }

  .header-top__nav-button.inner_button .icon-bar:nth-of-type(3) {
    top: -11px;
  }

  .mobile-phone__collapse {
    clear: both;
    text-align: center;
  }
  .mobile-phone__collapse .header-top__info-link {
    text-align: center;
    margin-top: 20px;
  }
  .mobile-phone__collapse .header-top__info-tel {
    text-align: center;
  }

  .general-block .header-in {
    margin-bottom: 83px;
  }

  .general-block__title {
    font-size: 28px;
    line-height: 38px;
  }

  .general-block__center {
    margin-bottom: 125px;
  }

  .general-block__bottom-arrow {
    bottom: 30px;
  }

  .cabinets-block__title {
    font-size: 28px;
    line-height: 38px;
  }

  .cabinets-block {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .cabinet-block__item {
    height: auto;
  }

  .cabinets-block__description {
    margin-bottom: 30px;
  }

  .cabinet-block__item_last-block {
    padding: 25px 25px 30px 30px;
  }

  .cabinet-block__item-title {
    padding-right: 30px;
    line-height: 23px;
  }

  .cabinet-block__item-item {
    line-height: 18px;
  }

  .doctors-block {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .doctors-block__title {
    font-size: 28px;
  }

  .doctors-block__description {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 50px;
  }

  .doctors-block__item {
    margin-bottom: 50px;
  }

  .responses-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .responses-block__title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .responses-block__item:before {
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
  }

  .responses-block__item {
    padding-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .responses-block__item-name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .responses-block__item-description {
    font-size: 12px;
    line-height: 18px;
  }

  .prices-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .prices-block__title {
    line-height: normal;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .prices-block__description {
    margin-bottom: 20px;
    line-height: 23px;
  }

  .prices-block__link {
    height: 140px;
    padding: 40px 25px 40px 50px;
  }

  .main-slider-block {
    padding-top: 60px;
  }

  .owl-main-slider__title {
    font-size: 14px;
    text-align: center;
  }

  .owl-main-slider__description {
    font-size: 26px;
    line-height: normal;
  }

  .main-slider-block .mobile_flex {
    display: flex;
    flex-direction: column;
  }

  .owl-main-slider__title {
    margin-bottom: 30px;
    order: 1;
  }

  .owl-main-slider__description {
    order: 3;
  }

  .owl-main-slider__img-container {
    margin-bottom: 35px;
    order: 2;
  }

  .map-block {
    padding-bottom: 20px;
    padding-top: 255px;
  }

  .map-block-container {
    width: 100%;
    padding: 40px 20px 64px 20px;
  }

  .feedback-block {
    padding: 40px 0;
  }

  .feedback-block__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  .feedback-block__btn-submit,
  .feedback-block__btn-submit:hover,
  .feedback-block__btn-submit:focus {
    width: 100%;
  }

  .footer-top .container {
    display: flex;
    flex-direction: column;
  }

  .footer__socials-list {
    order: 3;
    text-align: center;
  }

  .footer-top__info {
    order: 1;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-top__adress {
    order: 2;
    margin-right: 0;
    text-align: center;
  }
  .footer-top__adress p {
    display: inline;
  }

  .footer-top__info-tel,
  .footer-top__info-tel:hover,
  .footer-top__info-tel:focus {
    text-align: center;
  }

  .footer-top__info-link, .footer-top__info-link:hover, .footer-top__info-link:focus {
    margin-bottom: 10px;
  }

  .footer__socials-item {
    margin-right: 17px;
  }

  .footer__nav-item {
    margin-right: 0;
    display: block;
  }

  .footer-bottom__copy {
    float: none !important;
    margin-bottom: 20px;
  }

  .footer-bottom__made-by {
    float: none !important;
    text-align: left;
  }

  .btn_default, .btn_default:hover, .btn_default:focus {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }

  .feedback-pop__container {
    padding: 55px 30px 40px 30px;
  }
}
.promotions-block {
  padding-bottom: 90px;
}

.promotions-block__title {
  font-size: 48px;
  line-height: 58px;
  font-family: 'BlissPro-ExtraBold';
  color: black;
  margin-bottom: 40px;
}

.promotions-block__item {
  margin-bottom: 60px;
  border: solid 2px #e6e6e6;
  padding: 60px 50px 60px 0;
  margin-left: 0;
  margin-right: 0;
}
.promotions-block__item:last-child {
  margin-bottom: 0;
}

.promotion-block__item_right {
  padding-left: 40px;
}

.promotions-block__item-title {
  font-size: 24px;
  line-height: 35px;
  color: black;
  font-family: 'BlissPro-Bold';
  margin-bottom: 10px;
}

.promotions-block__item-description {
  font-size: 18px;
  line-height: 28px;
  color: black;
  margin-bottom: 25px;
}

.promotions-block__item-link,
.promotions-block__item-link:hover,
.promotions-block__item-link:focus {
  width: 230px;
}

.promotions-block__img-container {
  width: 145px;
  margin: 5px auto 0;
}

.services-block__services-list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-block__services-item {
  margin-bottom: 60px;
  padding: 0 80px;
}

.services-block__services-link:hover .services-block__item-title {
  opacity: 0.6;
}
.services-block__services-link:hover .services-block__item-description {
  opacity: 0.6;
}

.services-block__item-img {
  margin: 0 auto;
}

.services-block__item-title {
  text-align: center;
  padding: 17px 5px 10px 5px;
  font-size: 12px;
  font-family: 'BlissPro-Bold';
  letter-spacing: 0.9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #9b9b9b;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.services-block__item-description {
  text-align: center;
  font-size: 20px;
  color: black;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
