// $map : sprite-map('icons/*.png', $spacing: 70px);

@mixin get-sprite($map, $icon) {
	$sprite-image: sprite-file($map, $icon);
	$sprite-url: sprite-url($map);
	$sprite-position: sprite-position($map, $icon);

	background: $sprite-url $sprite-position no-repeat;

	$sprite-height: image-height($sprite-image);
	$sprite-width: image-width($sprite-image);

	width: $sprite-width;
	height: $sprite-height;
} 

@mixin font($font) {
	@if $font == reg {
		font-family: 'BlissPro-Regular';
	} @elseif $font == ext {
		font-family: 'BlissPro-ExtraBold';
	} @elseif $font == bold {
		font-family: 'BlissPro-Bold';
	} @elseif $font == ital {
		font-family: 'BlissPro-Italic';
	} @elseif $font == light {
		font-family: 'BlissPro-Light';
	} @elseif $font == med {
		font-family: 'BlissPro-Medium';
	} @elseif $font == heavy {
		font-family: 'BlissPro-Heavy';
	}
}

@mixin linksHover() {
	transition: all .3s ease-in-out;
	opacity: 1;

	&:hover {
		opacity: 0.6;
	}
}