// $map : sprite-map('icons/*.png', $spacing: 70px);

@mixin get-sprite($map, $icon) {
	$sprite-image: sprite-file($map, $icon);
	$sprite-url: sprite-url($map);
	$sprite-position: sprite-position($map, $icon);

	background: $sprite-url $sprite-position no-repeat;

	$sprite-height: image-height($sprite-image);
	$sprite-width: image-width($sprite-image);

	width: $sprite-width;
	height: $sprite-height;
} 

@mixin font($font) {
	@if $font == reg {
		font-family: 'proximanova-regular';
	} @elseif $font == ext {
		font-family: 'proximanova-extrabold';
	} @elseif $font == bold {
		font-family: 'proximanova-bold';
	} @elseif $font == ital {
		font-family: 'proximanova-regularitalic';
	} @elseif $font == light {
		font-family: 'proximanova-light';
	}
}