input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	-webkit-appearance: none;
	border-radius: 0;
	background-color: #FFFFFF;
	font-family: inherit;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: black;
	display: block;
	font-size: 16px;
	padding: 0 7px;
	margin: 0;
	height: 48px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
	outline: none;
}

input.material-field, textarea.material-field {
	border-width: 0;
	box-shadow: none;
	background: transparent;
}

textarea.material-field {
	resize: none;
	overflow: hidden;
	height: auto;
	padding-top: 15px;
	line-height: normal;
}


.form-group-material {
	position: relative;
	margin-top: 16px;
	margin-bottom: 21px;
}

.form-group-material:after {
	height: 2px;
	background: #D4D4D4;
	width: 100%;
}

.form-group-material:before {
	height: 2px;
	background: #33b4b0;
	z-index: 1;
	width: 0;
	transition: width .3s;
}

.form-group-material:after, .form-group-material:before {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
}

.form-group-material.error {
	margin-bottom: 36px;
}

.form-group-material.error:before {
	background-color: #F44336;
}

.form-group-material.focused:before {
	width: 100%;
}



small.error {
	display: none;
}

.error small.error {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	background: transparent;
	color: #F44336;
	font-style: normal;
	padding: 0 7px;
	@include font(med);
}






.material-label {
	margin-bottom: 0;
	font-weight: normal;
	@include font(med);
	font-size: 16px;
	padding: 0 7px;
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 1;
	cursor: text;
	color: #9b9b9b;
	transition: transform ease .3s, color ease .3s;
	transform-origin: 0 0;
}

.error .material-label {
	color: #F44336;
}

.focused .material-label {
	transform: translateY(-220%) scale(0.82);
	color: #33b4b0;
}

.error.focused .material-label {
	color: #F44336;
}

.has-value .material-label {
	transform: translateY(-220%) scale(0.82);
	top: 30px;
}






input.material-field, textarea.material-field {
	border-width: 0;
	box-shadow: none;
	margin: 0;
	background: transparent;
}

input.material-field:focus, textarea.material-field:focus {
	box-shadow: none;
	background: none;
}









