/********************
** general-block **
********************/

.btn_default,
.btn_default:hover,
.btn_default:focus {
	outline: none;
	font-size: 14px;
	width: 280px;
	height: 50px;
	border-radius: 100px;
	background-color: #33b4b0;
	padding: 17px 10px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	@include font(ext);
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #47cdc9;
	}

	&:active {
		background-color: #1f9d99;
	}
}

.btn_default_trans,
.btn_default_trans:hover,
.btn_default_trans:focus {
	outline: none;
	font-size: 14px;
	width: 280px;
	height: 50px;
	border-radius: 100px;
	background-color: transparent;
	padding: 14px 10px;
	border: solid 2px #32b0ad;
	text-transform: uppercase;
	color: #32b0ad;
	text-align: center;
	@include font(ext);
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #33b4b0;
		color: #ffffff;
	}

	&:active {
		background-color: #1e9d99;
		color: #ffffff;
	}
}

.btn_default_white,
.btn_default_white:hover,
.btn_default_white:focus {
	outline: none;
	font-size: 14px;
	width: 280px;
	height: 50px;
	border-radius: 100px;
	background-color: transparent;
	padding: 15px 10px;
	border: solid 2px #ffffff;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	@include font(ext);
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #ffffff;
		color: #33b4b0;
	}

	&:active {
		border: solid 2px #fdfdfd;
		background-color: #fdfdfd;
		color: #1e9d99;
	}
}

.general-block {
	background: image-url("bg-general.png") no-repeat;
	background-size: cover;
	padding-top: 30px;
	position: relative;
}

.header-top {
	margin-bottom: 35px;
}

.logo-text {
	font-size: 0;
	color: transparent;
}

.header-top__info {
	padding: 15px 0;
}

.header-top__info-link,
.header-top__info-link:hover,
.header-top__info-link:focus {
	font-size: 13px;
	color: #33b4b0;
	text-align: right;
	margin-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 0.1px dashed #33b4b0;
	display: inline-block;
	@include font(bold);
	@include linksHover();
}

.header-top__info-tel {
	text-align: right;
	color: #ffffff;
	font-size: 24px;
	@include font(ext);
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-item {
	font-size: 13px;
	@include font(ext);
	color: #fff;
	text-transform: uppercase;
	transition: all .3s;
	border-bottom: 2px solid transparent;

	&:hover,
	&.active {
		border-bottom: 2px solid #fff;
	}
}

.general-block .header-in {
	margin-bottom: 135px;
}

.general-block__center {
	margin-bottom: 245px;
}

.general-block__title {
	@include font(ext);
	color: #ffffff;
	font-size: 48px;
	line-height: 1.21;
	margin-bottom: 40px;
}

.general-block__bottom-arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	background: image-url("scroll-btn.svg");
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	@include linksHover();
}


/********************
** cabinets-block ***
********************/

.cabinets-block {
	padding: 80px 0;
	background-image: linear-gradient(127deg, #2f739e, #45ddcf);
}

.cabinets-block__title {
	@include font(ext);
	font-size: 48px;
	line-height: 1.21;
	text-align: left;
	color: #ffffff;
	margin-bottom: 30px;
}

.cabinets-block__description {
	font-size: 16px;
	line-height: 1.55;
	text-align: left;
	color: #ffffff;
	margin-bottom: 50px;
}

.cabinet-block__list {
	padding: 0 15px;
}

.cabinet-block__item {
	height: 425px;
}

.cabinet-block__link {
	position: relative;
	height: 100%;
	margin-left: -15px;
	margin-right: -15px;

	&:before {
		display: block;
		width: 60px;
		height: 60px;
		background: image-url('zoom.svg') no-repeat 50% 50%;
		background-size: cover;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 0.3s;
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}
}

.cabinet-block__img-container {
	height: 100%;
}

.cabinet-block__img {
	height: 100%;
	width: 100%;
}

.cabinet-block__item_last-block {
	padding: 80px;
	background: #fff;
}

.cabinet-block__item-title {
	text-align: left;
	color: #33b4b0;
	font-size: 20px;
	@include font(bold);
	padding-right: 45px;
	margin-bottom: 20px;
	line-height: normal;
}

.cabinet-block__item-item {
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	color: #131313;
	margin-bottom: 10px;
	@include font(med);

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		@extend %pseudo;
		border-radius: 50%;
		width: 3px;
		height: 3px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: #131313;
	}
}

/******************
** doctors-block **
******************/

.doctors-block {
	background: #fff;
	padding: 80px 0;
}

.doctors-block__title {
	@include font(ext);
	font-size: 48px;
	color: #131313;
	margin-bottom: 30px;
}

.doctors-block__description {
	@include font(reg);
	font-size: 16px;
	line-height: 1.5;
	color: #9b9b9b;
	margin-bottom: 40px;
}

.doctors-block__list {
	margin-bottom: 50px;
}

.doctors-block__img-container {
	margin-bottom: 30px;
}

.doctors-block__img {
	margin: 0 auto;
}

.doctors-block__doctor-name {
	font-size: 34px;
	color: #131313;
	text-align: center;
	margin-bottom: 10px;
}

.doctors-block__doctor-abil {
	font-size: 16px;
	color: #33b4b0;
	text-align: center;
}

.doctors-block__btn,
.doctors-block__btn:hover,
.doctors-block__btn:focus {
	margin: 0 auto;
	width: 214px;
}



/********************
*** responses-block *
********************/

.responses-block {
	padding: 80px 0;
	background-image: linear-gradient(127deg, #2f739e, #45ddcf);
}

.responses-block__title {
	@include font(ext);
	color: #ffffff;
	font-size: 48px;
	margin-bottom: 40px;
}

.responses-block__item {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding-bottom: 50px;
	margin-bottom: 50px;
	padding-left: 110px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		@extend %pseudo;
		font-size: 30px;
		left: 0;
		top: 0;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.2);
		color: rgba(255, 255, 255, 0.5);
		content: "C";
		text-align: center;
	}
}

.responses-block__item-name {
	font-size: 24px;
	color: #ffffff;
	@include font(bold);
	margin-bottom: 15px;
}

.responses-block__item-description {
	color: #ffffff;
	line-height: 1.5;
	font-size: 18px;
}


/********************
** prices-block *****
********************/

.prices-block {
	padding: 80px 0 50px 0;
	background-color: #fafafa;
}

.prices-block__title {
	font-size: 48px;
	line-height: 1.21;
	color: #33b4b0;
	margin-bottom: 35px;
	@include font(ext);
}

.prices-block__description {
	color: #9b9b9b;
	line-height: 1.5;
	font-size: 16px;
	margin-bottom: 40px;
}

.prices-block__item {
	margin-bottom: 30px;	
}

.prices-block__link {
	padding: 40px 30px 30px 50px;
	height: 140px;
	background: #fff;
	border: solid 1px #ebebeb;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}

.prices-block__link:hover {
	border: solid 1px #33B4B0;
}

.prices-block__item-title {
	font-size: 20px;
	color: #33b4b0;
	@include font(bold);
	margin-bottom: 20px;
}

.prices-block__item-price {
	@include font(heavy);
	font-size: 14px;
	color: #131313;
}

/*************************
****** main-slider-block *
*************************/

.main-slider-block {
	background-image: linear-gradient(104deg, #2f739e, #45ddcf);
	padding: 80px 0;
}

.owl-main-slider__title {
	font-size: 13px;
	color: #ffffff;
	margin-bottom: 20px;
	@include font(heavy);
}

.owl-main-slider__description {
	line-height: normal;
	font-size: 32px;
	color: #ffffff;
	@include font(heavy);
}

.owl-main-slider__img-container {
	text-align: right;
}

.owl-main-slider__img {
	display: inline-block;
	width: 177px;
	height: 94px;
}

.owl-main-slider .owl-prev,
.owl-main-slider .owl-next {
	position: absolute;
	font-size: 0;
	color: transparent;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	top: 50%;
	border-top: none;
	border-right: none;
}

.owl-main-slider .owl-prev {
	transform: translateY(-50%) rotate(45deg);
	left: -80px;
	@include linksHover();
}

.owl-main-slider .owl-next {
	transform: translateY(-50%) rotate(-135deg);
	right: -80px;
	@include linksHover();
}

.owl-main-slider .owl-dots {
	position: absolute;
	bottom: -40px;
	text-align: center;
	left: 0;
	right: 0;
}

.owl-main-slider .owl-dot {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.25);
	display: inline-block;
	margin: 0 5px;

	&.active {
		background-color: #fff;
	}
}

/*********************
*** map-block *****
*******************/

.map-block {
	padding: 80px 0 240px 0;
	background: image-url('map.png') no-repeat;
	background-size: cover;
}

.map-block-container {
	background: #fff;
	padding: 40px 40px 65px 50px;
}

.map-block__title {
	font-size: 48px;
	line-height: 1.21;
	color: #131313;
	@include font(ext);
	margin-bottom: 20px;
}

.map-block__adress {
	line-height: 1.25;
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
	opacity: 0.5;
	@include font(med);

	p {
		margin-bottom: 0px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.map-block__tel {
	@include font(bold);
	font-size: 20px;
	color: #000000;
	margin-bottom: 10px;
}

.map-block__email,
.map-block__email:hover,
.map-block__email:focus {
	font-size: 20px;
	color: #33b4b0;
	text-decoration: underline;
	@include linksHover();
	@include font(bold);
}


/******************
** feedback-block *
******************/

.feedback-block {
	padding: 80px 0;
	background: #fff;

	.container {
		position: relative;
	}
}

.feedback-block__title {
	color: #000000;
	font-size: 32px;
	@include font(heavy);
	margin-bottom: 30px;
}

.feedback-block__btn-submit,
.feedback-block__btn-submit:hover,
.feedback-block__btn-submit:focus {
	margin-top: 20px;
	width: 220px;
}

.feedback-block__img-container {
	position: absolute;
	bottom: -80px;
	right: 85px;
}


/********************
*** footer *******
**************/

.footer-top {
	padding: 30px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.07);
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.footer__socials-list {
	padding: 15px 0;
	font-size: 0;
}

.footer__socials-item {
	display: inline-block;
	margin-right: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #CCCCCC;

	&:last-child {
		margin-right: 0;
	}
}

.footer__socials-link {
	height: 100%;
	width: 100%;
	@include linksHover();

	&.fb {
		background: image-url('foot-facebook.svg') no-repeat 50% 50%;
		background-size: 20px;
	}

	&.vk {
		background: image-url('foot-vk.svg') no-repeat 50% 50%;
		background-size: 20px;
	}

	&.ok {
		background: image-url('foot-odnoklassniki.svg') no-repeat 50% 50%;
		background-size: 20px;
	}

	&.inst {
		background: image-url('foot-instagram.svg') no-repeat 50% 50%;
		background-size: 20px;
	}

	&.google {
		background: image-url('foot-google-plus.svg') no-repeat 50% 50%;
		background-size: 20px;
	}

	&.tw {
		background: image-url('foot-twitter.svg') no-repeat 50% 50%;
		background-size: 20px;
	}
}

.footer-top__adress {
	padding: 15px 0;
	margin-right: 45px;
	line-height: normal;

	p {
		margin-bottom: 0;
		font-size: 14px;
		color: #000000;
		opacity: 0.3;
		@include font(med);
	}
}

.footer-top__info-link,
.footer-top__info-link:hover,
.footer-top__info-link:focus {
	font-size: 13px;
	color: #33b4b0;
	text-align: right;
	margin-bottom: 3px;
	text-transform: uppercase;
	border-bottom: 0.1px dashed #33b4b0;
	display: inline-block;
	font-family: 'BlissPro-Bold';
	transition: all .3s ease-in-out;
	opacity: 1;
	line-height: normal;
	@include linksHover();
}

.footer-top__info-tel,
.footer-top__info-tel:hover,
.footer-top__info-tel:focus {
	line-height: normal;
	text-align: right;
	color: black;
	font-size: 24px;
	transition: all .3s ease-in-out;
	opacity: 1;
	font-family: 'BlissPro-ExtraBold';
}

.footer-center {
	padding-top: 40px;
}

.footer__nav-list {
	margin-bottom: -20px;
	font-size: 0;
}

.footer__nav-item {
	@include font(med);
	font-size: 14px;
	color: #CCCCCC;
	display: inline-block;
	margin-right: 30px;
	text-decoration: underline;
	line-height: normal;
	margin-bottom: 20px;
	@include linksHover();
}

.footer-bottom {
	padding: 40px 0;
}

.footer-bottom__copy {
	@include font(med);
	font-size: 14px;
	line-height: normal;
	color: black;
}

.footer-bottom__made-by {
	text-align: right;
}

.footer-bottom__made-by-text {
	@include font(med);
	font-size: 14px;
	line-height: normal;
	color: black;
}

.footer-bottom__made-by-link,
.footer-bottom__made-by-link:hover,
.footer-bottom__made-by-link:focus {
	display: inline-block;
	text-decoration: underline;
	color: #33b4b0;
	@include font(med);
	font-size: 14px;
	line-height: normal;
	@include linksHover();
}

/******************
** feedback modal *
******************/

.feedback-pop-up__dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 467px;
	max-width: 90%;
}

.feedback-pop__container {
	background-color: #fafafa;
	padding: 90px 90px 50px 90px;
}

.feedback-pop__title {
	@include font(ext);
	font-size: 24px;
	text-align: center;
	line-height: normal;
	margin-bottom: 20px;
}

.feedback-pop__btn-submit,
.feedback-pop__btn-submit:hover,
.feedback-pop__btn-submit:focus{
	margin: 0 auto;
	width: 175px;
	display: block;
	margin-top: 40px;
}

.feedback-pop__close-button {
	position: absolute;
	top: 25px;
	right: 30px;

	&:after, &:before {
		content:"";
		height:20px;
		width:20px;
		border-top:1px solid #9b9b9b;
		position:absolute;
		top:7px;
		right:-8px;
		@include rotate(-45deg);
	}

	&:before {
		right:6px;
		@include rotate(45deg);
	}
}




/******************
** gallery modal *
******************/

.gallery-pop-up__dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
}

.gallery-pop__container {
	max-width: 80%;
	margin: 0 auto;
}

.owl-gallery-slider .owl-prev, .owl-gallery-slider .owl-next {
	position: absolute;
	font-size: 0;
	color: transparent;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	top: 50%;
	border-top: none;
	border-right: none;
	@include linksHover();
}

.owl-gallery-slider .owl-prev {
	transform: translateY(-50%) rotate(45deg);
	left: -75px;
}

.owl-gallery-slider .owl-next {
	transform: translateY(-50%) rotate(-135deg);
	right: -75px;
}

.gallery-pop-up__close-button {
	position: absolute;
	top: -65px;
	right: 45px;
	background: image-url("gallery-close.svg") no-repeat;
	width: 40px;
	background-size: cover;
	height: 40px;
	@include linksHover();
}

.owl-gallery-sliders-count {
	color: #fff;
	text-align: center;
	padding-top: 50px;
	font-size: 23px;
}

/****************************/
